<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>
<body>

<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1> Dave's List- form</h1>
            <h3>Fill out the application to apply for an apartment. Click submit when you are done.</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
                <li class="list-inline-item">

                    <form action="#" th:action="@{/index}" th:object="${davesForm}" method="post">
                    <a href="#davesform" class="btn btn-secondary btn-lg">

                        First Name: <input type="text" th:field="*{firstName}"/><br>
                        Last Name: <input type="text" th:field="*{lastName}"/><br>
                        Description: <input type="text" th:field="*{description}"/><br>
                        Rules: <input type="text" th:field="*{rules}"/><br>
                        WiFi? Yes: <input type="checkbox" name="choose" value="Yes" /><br>
                              No:  <input type="checkbox" name="choose" value="No" /><br>
                        Cable: <input type="text" th:field="*{cable}"/><br>
                        Private Bathroom? Yes: <input type="checkbox" name="choose" value="Yes" /><br>
                                          No:  <input type="checkbox" name="choose" value="No" /><br>
                    </form>
                        <br>
                        <input type="submit" value="Submit"/>
                        <input type="reset" value="Reset"/><br>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

</body>
</html>